.input-area {
  width: 45%;
}

.content {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  margin-top: 10px;
}

.slider-length {
  width: 30%;
}

.sort-main {
  display: flex;
  flex-direction: column;
}

.sort-title, .sort-footer {
  height: 20%;
  display: flex;
  flex-direction: row;
}

.sort-name, .sort-time, .sort-swap, .sort-compare {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-area {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.sort-card {
  border: 1px solid black;
  border-radius: 20px;
  height: 300px;
}

.sort-item-content {
  height: 50px;
  width: 50px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.background-white {
  background-color: white;
}

.background-yellow {
  background-color: yellow;
}

.background-greenyellow {
  background-color: greenyellow;
}
