.input-with-button {
  height: 150px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 20px;
  width: 200px;
  justify-content: space-evenly;
}

.speed-area {
  display: flex;
  width: 300px;
  flex-direction: row;
  align-items: center;
  height: 150px;
}
