<div class="tree-main">
  <mat-tab-group (selectedIndexChange)="tabSelectionChanged($event)">
    <mat-tab label="{{treeTabs[0].tab}}">
      <div style="display: flex;flex-direction: row">
        <div class="input-with-button">
          <button mat-raised-button color="primary" (click)="generateBinarySearchTree()">生成二叉搜索树</button>
          <button mat-raised-button color="primary" (click)="deleteBinarySearchTree()">销毁二叉搜索树</button>
        </div>

        <div class="input-with-button">
          <mat-form-field>
            <mat-label>插入节点</mat-label>
            <input matInput type="number" placeholder="输入一个1-100之间的数字" [(ngModel)]="binarySearchTreeNodeValue">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="addBinarySearchTreeNode()">添加节点</button>
        </div>

        <div class="input-with-button">
          <mat-form-field>
            <mat-label>删除节点</mat-label>
            <input matInput type="number" placeholder="输入节点数字" [(ngModel)]="waitDeleteBinarySearchTreeNodeValue">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="deleteBinarySearchTreeNode()">删除节点</button>
        </div>

        <div class="input-with-button">
          <mat-form-field>
            <mat-label>搜索节点</mat-label>
            <input matInput type="number" placeholder="输入节点数字" [(ngModel)]="waitSearchBinarySearchTreeNodeValue">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="searchBinarySearchTreeNode()">搜索节点</button>
        </div>
        <div class="input-with-button">
          <button mat-raised-button color="primary" (click)="preOrderTraversal()">先序遍历</button>
          <button mat-raised-button color="primary">中序遍历</button>
        </div>


        速度：
        <mat-slider style="margin-top: 20px;width: 20%" min="1" max="100" step="1"
                    discrete >
          <input matSliderThumb [(value)]="speed">
        </mat-slider>
      </div>
    </mat-tab>
    <mat-tab label="{{treeTabs[1].tab}}">

    </mat-tab>
  </mat-tab-group>
  <div class="output-area">{{outputString}}</div>
  <div id="container" style="border: 1px black solid;border-radius: 10px"></div>
</div>
