.main-body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  /*margin: 0;*/
  flex-direction: column;
  background: #e0e5ec;
  font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;

}
