<!-- <label for="algo">选择算法:</label>
<select id="algo" name="algo">
  <option *ngFor="let a of algorithms" [value]="a.value">{{a.name}}</option>
</select> -->
<div class="main">
  <button mat-icon-button color="primary" routerLink="/">
    <mat-icon>home</mat-icon>
  </button>
  <mat-form-field appearance="outline">
    <mat-label>选择一个算法</mat-label>
    <mat-select [(value)]="selectedPathFindingAlgorithm">
      <mat-option *ngFor="let a of pathFindingAlgorithms" [value]="a.value">{{
        a.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="selectedPathFindingAlgorithm=='dijkstra'" appearance="outline">
    <mat-label>是否设置权值</mat-label>
    <mat-select [(value)]="this.isWeighted" (valueChange)="changeNodeWeight()">
      <mat-option [value]="true">是</mat-option>
      <mat-option [value]="false">否</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>选择一个迷宫算法</mat-label>
    <mat-select [(value)]="selectedMazeAlgorithm" (selectionChange)="generateMaze()">
      <mat-option
        *ngFor="let m of mazeAlgorithms"
        [value]="m.value"
        >{{ m.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <!-- <mat-form-field appearance="outline">
    <mat-label>图像的权值</mat-label>
  </mat-form-field> -->
<!--  <mat-form-field class="example-full-width">-->
<!--    <mat-label>地图行数</mat-label>-->
<!--    <input matInput placeholder="20" name="row" [(ngModel)]="rows" />-->
<!--  </mat-form-field>-->
<!--  <mat-form-field class="example-full-width">-->
<!--    <mat-label>地图列数</mat-label>-->
<!--    <input matInput placeholder="40" name="col" [(ngModel)]="cols" />-->
<!--  </mat-form-field>-->
<!--  <button mat-stroked-button color="primary" (click)="createBoard()">-->
<!--    生成地图-->
<!--  </button>-->
  速度:
  <mat-slider>
    <input [(value)]="speed" matSliderThumb (valueChange)="changeSpeedDynamically()" />
  </mat-slider>

  <div class="button-area">
    <button mat-stroked-button color="primary" (click)="visualStart()">开始可视化</button>
    <button mat-stroked-button color="primary" (click)="reset()">重置</button>
  </div>

  <div
    class="container"
    (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp($event)"
    (mouseover)="setWallAttribute($event)"
  ></div>
</div>
