<!--<div routerLink="pathfinding">寻路算法</div>-->
<!--<div>排序算法</div>-->
<!--<div>xxx算法</div>-->
<!--<div>xxx算法</div>-->
<h1 style="text-align: center;font-size: 40px;margin-top: 20px">算法可视化</h1>
<mat-divider></mat-divider>
<table class="center-table">
  <tr>
    <td>
      <mat-card class="card" routerLink="pathfinding">
        <mat-card-content>
          <div class="center-text font-30">寻路算法</div>
        </mat-card-content>
      </mat-card>
    </td>
    <td>
      <mat-card class="card" routerLink="sorting">
        <mat-card-content>
          <div class="center-text font-30">排序算法</div>
        </mat-card-content>
      </mat-card>
  </tr>
  <tr>
    <td>
      <mat-card class="card">
        <mat-card-content>
          <div class="center-text font-30">xxx算法</div>
        </mat-card-content>
      </mat-card>
    </td>
    <td>
      <mat-card class="card">
        <mat-card-content>
          <div class="center-text font-30">xxx算法</div>
        </mat-card-content>
      </mat-card>
    </td>
</table>


<!--<mat-grid-list cols="2" rowHeight="3:2">-->
<!--  <mat-grid-tile>1</mat-grid-tile>-->
<!--  <mat-grid-tile>2</mat-grid-tile>-->
<!--  <mat-grid-tile>3</mat-grid-tile>-->
<!--  <mat-grid-tile>4</mat-grid-tile>-->
<!--</mat-grid-list>-->

